* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  border: 0;
  margin: 0;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 0;
  color: white;
}

h2 {
  font-size: 50px;
  text-align: center;
  margin: 0;
  color: white;
}

.container {
    max-width: 1500px;
    margin: auto;
    width: 90%;
}

.header{
  background-color: #FBEEC1;
}

.nav {
  display: flex;
  align-items: center;
  height: 70px;
}

.logo-img {
  width: 50px;
  height: 50px;
}

.CompanyName {
  font-size: 25px;
  color:  black;
}

.new-game {
  background-color: #659DBD;
}

.new-game .container {
  height: 500px;
}

.title {
  padding: 20px;
}

.slider{
    position: relative;
    height: 370px;
}

.item {
  display: flex;
  justify-content: space-between;
  height: 100%;
  box-shadow: 0px 0px 5px 1px #000;
}

.cover img{
  width: 550px;
  height: 100%;
  position: relative;
  box-shadow: 0px 0px 10px 1px #000;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #DAAD86;
}

.title-name {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title-name-span {
  color: white;
}

.screenshots-img {
  width: 200px;
  height: 110px;
}

.description {
  margin-left: 27px;
  margin-right: 25px;
  padding-top: 20px;
}

.text-description {
  text-align: center;
  font-size: 20px;
  color: white;
}

.link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.link-a {
  margin-left: 27px;
}

.link-in-game {
  border-style: none;
  border-radius: 40px;
  width: 120px;
  height: 50px;
  cursor: pointer;
}

.link-in-game:hover {
  background-color: #FBEEC1;
}

.link-span {
  font-size: 20px;
  color:  #659DBD;
}

/* Кнопки вперед и назад */
.slider .previous, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    color: white;
    background-color: rgba(219, 215, 210, 0.7);
    font-weight: bold;
    font-size: 16px;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* При наведении на кнопки добавляем фон кнопок */
.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/* Анимация слайдов */
.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

.categories {
  background-color: #8D8741;
}

.categories-title {
  padding: 30px;
}

.categories-blocks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.categories-a {
  width: 200px;
  height: 200px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.categories-block {
  width: 200px;
  height: 200px;
}

.categories-puzzle-img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.categories-title-block {
  position: relative;
  top: 25px;
  left: 30%;
  font-size: 25px;
  color: white;
}

.categories-title-shooter {
  left: 25%;
}

.categories-title-casual {
  left: 18%;
}

.categories-title-race {
  left: 32%;
}

.categories-title-openworld {
  left: 10%;
  font-size: 22px;
}

.categories-title-moba {
  left: 34%;
}

.categories-color-back {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: relative;
  bottom: 204px;
  background-color: rgba(101, 157, 189, 0.7);
}

.categories-color-back:hover {
  background-color: rgba(101, 157, 189, 0.8);
}

.categories-back-count {
  width: 60px;
  border-radius: 20px;
  position: relative;
  bottom: 335px;
  left: 70px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  pointer-events: none;
}

.Puzzle-count {
  font-size: 50px;
  color:  #BC986A;
}
